/* Estilo para el sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px; /* Ancho del sidebar */
    background-color: #d73030; /* Color de fondo del sidebar */
    color: #fff; /* Color del texto en el sidebar */
    padding-top: 60px; /* Altura del top bar */
    transition: width 0.3s ease;
    z-index: 1000;
}

.sidebar-head {
    position: fixed;
    top: 0;
    padding-top: 25px;
    text-align: center; /* Center the content of the head */
}

.sidebar-body {
    margin-top: 80px; /* Ajusta el valor según el espacio deseado */
    /*Add a separator between elements of the sidebar*/
    border-top: 1px solid #080808;
    border-top-style: groove;
}

.sidebar a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.sidebar a:hover {
    background-color: #dc7575; /* Color de fondo al hacer hover */
}

/* Estilo para el contenido principal */
.content {
    margin-left: 250px; /* Ancho del sidebar */
    margin-top: 60px; /* Altura del top bar */
    padding: 20px;
    transition: margin-left 0.3s ease;
    align-items: center;
}

/* Estilo para el top bar */
.top-bar {
    position: fixed;
    top: 0;
    left: 250px; /* Ancho del sidebar */
    width: calc(100% - 250px); /* Calcula el ancho del top bar */
    height: 60px; /* Altura del top bar */
    background-color: #8f4141; /* Color de fondo del top bar */
    color: #fff; /* Color del texto */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1000;
}

/* Estilo para el footer */
footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #8f4141;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilos para los botones */
.primary-default-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.primary-default-btn:hover {
    background-color: #0056b3;
}

.primary-search-btn {
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.primary-search-btn:hover {
    background-color: #6a6a6a;
}

.search-wrapper input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px; /* Ancho del campo de búsqueda */
}

/* Estilo para el logo y los títulos */
.logo-wrapper {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.logo-wrapper img {
    width: 40px; /* Ancho de la imagen del logo */
    height: auto;
    margin-right: 10px;
}

.logo-title {
    font-size: 20px;
    font-weight: bold;
}

.logo-subtitle {
    font-size: 14px;
    font-style: italic;
}

/* Estilo para los botones de inicio de sesión */
.log-in-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Estilo para el campo de búsqueda */
.search-wrapper {
    flex: 1; /* Ocupa todo el espacio disponible */
    margin-right: 20px; /* Espacio entre el campo de búsqueda y los botones de inicio de sesión */
}

/* Estilo para el contenido jugadores */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.data-column, .image-column, .chart-column {
    padding: 20px;
}

/* Styles for the football field container */
.Football-field-container {
    position: relative; /* Ensure the container is positioned relative to its parent */
}

/*Estilo para los puntos del campo de futbol*/
/* style.css */

.player-position-dot {
    width: 40px; /* Adjust the size of the dot */
    height: 40px; /* Adjust the size of the dot */
    border-radius: 50%; /* Make the dot round */
    background-color: blue; /* Set the color of the dot */
    position: absolute; /* Position the dot relative to its container */
    transform: translate(-50%, -50%); /* Center the dot's position */
}

.football-field-container {
    position: relative;
    width: 75%; /* Adjust width as needed */
    float: left;
}

.player-qualities {
    width: 50%; /* Adjust width as needed */
    float: left;
}

/* Style for the dots inside the football field */
.player-position-dot {
    position: absolute;
    width: 20px; /* Adjust the size of the dot */
    height: 20px; /* Adjust the size of the dot */
    background-color: gray; /* Default color */
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%); /* Center the dot's position */
    border: 3px solid red; /* Add black outline */
}

.player-position-dot.activated {
    background-color: blue; /* Activated color */
    border: 3px solid rgb(0, 255, 251); /* Add blue outline */
}



/* Add custom styles for advanced player search page */
.page-title {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between items */
    align-items: flex-start; /* Align items at the top */
}

.search-container {
    display: flex;
    justify-content: space-between; /* Align items to the start and end of the container */
    margin-bottom: 30px;
}
.football-field-container {
    width: auto; /* Adjust the width automatically */
    height: calc(100vh - 200px); /* Set the height dynamically */
    max-height: calc(100vh - 200px); /* Set a maximum height */
    position: relative; /* Ensure relative positioning */
    overflow: hidden; /* Hide any overflowing content */
}

#football-field {
    width: 100%; /* Set width to 100% to fill the container */
    height: 100%; /* Set height to 100% to fill the container */
    object-fit: contain; /* Ensure the image fits within the container while preserving aspect ratio */
}


.filter-section {
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align items to the end of the container */
    display: block; 
}

.section-title {
    margin-bottom: 10px;
}

.filter-controls {
    margin-bottom: 20px;
}

.filter-controls select,
.filter-controls input[type="number"] {
    margin-left: 10px; /* Adjust margin to create space between controls */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#apply-filter-btn {
    padding: 8px 15px;
}

.applied-filters {
    margin-top: 20px;
}


.primary-default-btn,
.primary-search-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.primary-default-btn {
    background-color: #007bff;
    color: #fff;
}

.primary-default-btn:hover {
    background-color: #0056b3;
}

.secondary-search-btn {
    position: fixed; /* Fixed position */
    bottom: 20px; /* Distance from the bottom of the screen */
    right: 20px; /* Distance from the right side of the screen */
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.secondary-search-btn:hover {
    background-color: #6a6a6a;
}