/* Estilo para el sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px; /* Ancho del sidebar */
    background-color: #d73030; /* Color de fondo del sidebar */
    color: #fff; /* Color del texto en el sidebar */
    padding-top: 60px; /* Altura del top bar */
    transition: width 0.3s ease;
    z-index: 1000;
}

.sidebar-head {
    position: fixed;
    top: 0;
    padding-top: 25px;
    text-align: center; /* Center the content of the head */
}

.sidebar-body {
    margin-top: 80px; /* Ajusta el valor según el espacio deseado */
    /*Add a separator between elements of the sidebar*/
    border-top: 1px solid #080808;
    border-top-style: groove;
}

.sidebar a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.sidebar a:hover {
    background-color: #dc7575; /* Color de fondo al hacer hover */
}

/* Estilo para el contenido principal */
.content {
    margin-left: 250px; /* Ancho del sidebar */
    margin-top: 60px; /* Altura del top bar */
    padding: 20px;
    transition: margin-left 0.3s ease;
    align-items: center;
}

/* Estilo para el top bar */
.top-bar {
    position: fixed;
    top: 0;
    left: 250px; /* Ancho del sidebar */
    width: calc(100% - 250px); /* Calcula el ancho del top bar */
    height: 60px; /* Altura del top bar */
    background-color: #8f4141; /* Color de fondo del top bar */
    color: #fff; /* Color del texto */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1000;
}

/* Estilo para el footer */
footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #8f4141;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilos para los botones */
.primary-default-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.primary-default-btn:hover {
    background-color: #0056b3;
}

.primary-search-btn {
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.primary-search-btn:hover {
    background-color: #6a6a6a;
}

.search-wrapper input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px; /* Ancho del campo de búsqueda */
}

/* Estilo para el logo y los títulos */
.logo-wrapper {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.logo-wrapper img {
    width: 40px; /* Ancho de la imagen del logo */
    height: auto;
    margin-right: 10px;
}

.logo-title {
    font-size: 20px;
    font-weight: bold;
}

.logo-subtitle {
    font-size: 14px;
    font-style: italic;
}

/* Estilo para los botones de inicio de sesión */
.log-in-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Estilo para el campo de búsqueda */
.search-wrapper {
    flex: 1; /* Ocupa todo el espacio disponible */
    margin-right: 20px; /* Espacio entre el campo de búsqueda y los botones de inicio de sesión */
}

/* Estilo para el contenido jugadores */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.data-column, .image-column, .chart-column {
    padding: 20px;
}

/* Styles for the football field container */
.Football-field-container {
    position: relative; /* Ensure the container is positioned relative to its parent */
}

/*Estilo para los puntos del campo de futbol*/
/* style.css */

.player-position-dot {
    width: 40px; /* Adjust the size of the dot */
    height: 40px; /* Adjust the size of the dot */
    border-radius: 50%; /* Make the dot round */
    background-color: blue; /* Set the color of the dot */
    position: absolute; /* Position the dot relative to its container */
    transform: translate(-50%, -50%); /* Center the dot's position */
}


