/*Style reset*/
body {
    font-family:  'Roboto', sans-serif; /* Change the default font family */
    font-size: 16px; /* Adjust the default font size */
    line-height: 1.6; /* Set the line height for better readability */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif; /* Change the font family for headings */
    font-weight: bold; /* Set the font weight for headings */
}

p {

    font-size: 16px; /* Adjust the font size for paragraphs */
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px; /* Ancho del sidebar */
    background-color: #d73030; /* Color de fondo del sidebar */
    color: #fff; /* Color del texto en el sidebar */
    padding-top: 60px; /* Altura del top bar */
    transition: width 0.3s ease;
    z-index: 1000;
}

.sidebar-head {
    position: fixed;
    top: 0;
    padding-top: 20px;
    text-align: center; /* Center the content of the head */
    width: 250px; 
}

.sidebar-body {
    margin-top: 65px; 
    /*Add a separator between elements of the sidebar*/
    border-top: 1px solid #080808;
    border-top-style: groove;
    
}

.sidebar-body-menu i {
    font-size: 24px; /* Adjust the size of the icon */
    margin-right: 20px; /* Add some space between the icon and text */
    padding-left: 10px;
}

.sidebar a {
    display: flex;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    flex:1;
    align-items: center;
}

.sidebar a:hover {
    background-color: #dc7575; /* Color de fondo al hacer hover */
}

/* Main content style */

.content {
    background-color: #f4f4f4; /* Color de fondo del contenido principal */
    margin-left: 250px; /* Ancho del sidebar */
    margin-top: 60px; /* Altura del top bar */
    padding: 20px;
    transition: margin-left 0.3s ease;
    align-items: center;
}
.white-window {
    background-color: #fff; /* Color de fondo del contenido principal */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
}

/* Top bar style */
.top-bar {
    position: fixed;
    top: 0;
    left: 250px; /* Ancho del sidebar */
    width: calc(100% - 250px); /* Calcula el ancho del top bar */
    height: 60px; /* Altura del top bar */
    background-color: #c92d2d; /* Color de fondo del top bar */
    color: #fff; /* Color del texto */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1000;
}

/* Footer style */
footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #8f4141;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Buttons style */
.primary-default-btn, .player-button, .squad-create-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    padding-left: 10px;
}

.primary-default-btn:hover, .player-button:hover, .squad-create-button:hover {
    background-color: #0056b3;
}

.primary-search-btn {
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.primary-search-btn:hover {
    background-color: #6a6a6a;
}

.search-wrapper input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

/* Logo */
.logo-wrapper {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.logo-wrapper img {
    width: 40px; /* Ancho de la imagen del logo */
    height: auto;   
    margin-right: 10px;
}

.logo-title {
    font-size: 20px;
    font-weight: bold;
}

.logo-subtitle {
    font-size: 14px;
    font-style: italic;
}

/* Log in */
.log-in-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Search wrapper */
.search-wrapper {
    flex: 1; 
    margin-right: 20px; 
    margin-top: 17px;
}

/* Search results */

/* Style for the results container */
.results-container {
    padding: 20px;
}

.results-grid {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1;
    margin-right: 20px;
}

.results-list, .results-list2 {
    list-style-type: none;
    padding: 0;
}

.results-list li, .results-list2 li {
    margin-bottom: 5px;
}

/* Style for anchor tags */
.results-list li a, .results-list2 li a {
    text-decoration: none;
    color: #333;
}

/* Style for list items */
.results-list li, .results-list2 li {
    margin-bottom: 5px;
    transition: background-color 0.3s ease; /* Add transition effect */
}

/* Hover effect for list items */
.results-list li:hover {
    background-color: #f0f0f0; /* Change background color on hover */
}



/* Player detail content */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.data-column, .image-column, .chart-column {
    padding: 20px;
    align-items: center; /* Center items horizontally */
    display: flex;
    flex-direction: column;
}

/*Football field dots style */

.player-position-dot {
    width: 40px; /* Adjust the size of the dot */
    height: 40px; /* Adjust the size of the dot */
    border-radius: 50%; /* Make the dot round */
    background-color: blue; /* Set the color of the dot */
    position: absolute; /* Position the dot relative to its container */
    transform: translate(-50%, -50%); /* Center the dot's position */
}


.player-qualities {
    width: 50%; /* Adjust width as needed */
    float: left;
}

/* Style for the dots inside the football field */
.player-position-dot {
    position: absolute;
    width: 20px; /* Adjust the size of the dot */
    height: 20px; /* Adjust the size of the dot */
    background-color: gray; /* Default color */
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%); /* Center the dot's position */
    border: 3px solid red; /* Add black outline */
}

.player-position-dot.activated {
    background-color: blue; /* Activated color */
    border: 3px solid rgb(0, 255, 251); /* Add blue outline */
}

.Football-field-container {
    position: relative;
}

/* Add custom styles for advanced player search page */
.page-title {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between items */
    align-items: flex-start; /* Align items at the top */
}

.search-container {
    display: flex;
    justify-content: space-between; /* Align items to the start and end of the container */
    margin-bottom: 30px;
}

.football-field-container {
    position: relative;
    float: left;
    width: auto; /* Adjust the width automatically */
    height: calc(100vh - 200px); /* Set the height dynamically */
    max-height: calc(100vh - 200px); /* Set a maximum height */
    position: relative; /* Ensure relative positioning */
    overflow: hidden; /* Hide any overflowing content */
}

#football-field {
    width: 100%; /* Set width to 100% to fill the container */
    height: 100%; /* Set height to 100% to fill the container */
    object-fit: contain; /* Ensure the image fits within the container while preserving aspect ratio */
}


.filter-section {
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align items to the end of the container */
    display: block; 
}

.section-title {
    margin-bottom: 10px;
}

.filter-controls {
    margin-bottom: 20px;
}

.filter-controls select,
.filter-controls input[type="number"] {
    margin-left: 10px; /* Adjust margin to create space between controls */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#apply-filter-btn {
    padding: 8px 15px;
}

.applied-filters {
    margin-top: 20px;
}

/* Style for each filter item */
.filter-item {
    background-color: #282828; /* Background color for filter items */
    color: #ffffff; /* Text color */
    padding: 5px 10px; /* Padding around the filter text */
    margin-bottom: 5px; /* Spacing between filter items */
    border-radius: 5px; /* Rounded corners */
    border: 1px solid #000000; /* Border around filter items */
    cursor: pointer; /* Cursor style */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
    text-align: center;
}

/* Hover effect for filter items */
.filter-item:hover {
    background-color: #e0e0e0; /* Darker background color on hover */
}


.primary-default-btn,
.primary-search-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.primary-default-btn {
    background-color: #007bff;
    color: #fff;
}

.primary-default-btn:hover {
    background-color: #0056b3;
}

.secondary-search-btn {
    position: absolute; 
    bottom: 20px; /* Distance from the bottom of the screen */
    right: 40px; /* Distance from the right side of the screen */
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.secondary-search-btn:hover {
    background-color: #6a6a6a;
}


/*In order to display the jersey number on the shirt*/

.shirt-container {
    position: relative;
    display: inline-block;
}

.shirt-image {
    width: 150px; /* Adjust size as needed */
    height: auto;
}

/* In order to display the player's face */
.player-image-container {
    position: relative;
    display: inline-block;
}

.player-image {
    width: 150px; /* Adjust size as needed */
    height: auto;
}

.player-details {
    position: absolute;
    top: 22%; /* Adjust to move closer to the top */
    left: 50%; /* Position at the center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    text-align: center;
}

.player-name {
    font-size: 15px; /* Adjust font size as needed */
    font-weight: bold;
    color: white; /* Adjust text color as needed */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* Add shadow for better visibility */
    margin: 0; /* Remove all margins */
}

.player-number {
    font-size: 50px; /* Adjust font size as needed */
    font-weight: bold;
    color: white; /* Adjust text color as needed */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* Add shadow for better visibility */
    position: absolute;
    top: 0; /* Glue to the top of the shirt container */
    left: 50%; /* Position at the center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    margin-top: 5px; /* Remove all margins */
}

/*Squad builder container style*/	

.squad-builder-container {
    display: flex;
    margin-bottom: 30px;
}

.player-button:hover {
    background-color: #000000;
}

.player-button.clicked {
    background-color: #000000; 
}

.player-position {
    /* Additional styles */
    background-color: #f17676; /* Set background color */
    border: 1px solid #ff0000; /* Add a border */
    border-radius: 5px; /* Add border radius */
    transform: translate(-50%, -50%); /* Center the dot's position */
}

.player-position-name {
    /* Additional styles */
    position: absolute;
    top: 50%; /* Center the element vertically */
    left: 50%; /* Center the element horizontally */
    transform: translate(-50%, -50%); /* Center the element precisely */
    background-color: #f17676; /* Set background color */
    border: 1px solid #ff0000; /* Add a border */
    border-radius: 5px; /* Add border radius */
    max-width: 57px; /* Set maximum width equal to image width */
    font-size: 0.8em; /* Set the default font size */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide any overflow text */
    text-overflow: ellipsis; /* Display ellipsis if text overflows *
}


#example-btn {
    display: none; /* Initially hide the button */
}

/* My squad container style */

.squad-builder-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top */
}

.football-field-container-squad-builder {
    width: 40%; /* Adjust width as needed */
    position: relative; /* Position relative for absolutely positioned children */
}

.squad-selection-container {
    position: relative;
    width: 80%; /* Adjust width as needed */
}

.squad-selection {
    padding: 20px; /* Adjust padding as needed */
    background-color: #f0f0f0; /* Background color for squad selection container */
}

#player-list {
    list-style-type: none; /* Remove list bullet points */
    padding-left: 20px;
    margin: 0;
}

#player-list li {
    margin-bottom: 10px; /* Adjust margin between player items */
}

.player-list a {
    display: block;
    padding: 5px 0;
    color: #333;
    text-decoration: none;
}

.player-list a:hover {
    background-color: #f0f0f0;
}

.squad-actions form {
    display: inline;
    margin-right: 10px;
}

/* Style for the form */
.add-to-squad-form {
    margin-top: 20px; /* Add margin from the top */
}

/* Style for the squad select dropdown */
.squad-select, 
.dataset-select  {
    padding: 8px; /* Padding for the dropdown */
    border-radius: 5px; /* Add border radius */
    border: 1px solid #ccc; /* Add border */
    font-size: 16px; /* Font size */
    width: 200px; /* Width of the dropdown */
}

.main-nav {
    /* Ensure the main-nav takes up the remaining space */
    padding: 20px; /* Add padding to the contents */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    /* Ensure the main-nav scrolls if content overflows */
    overflow-y: auto;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .main-nav {
        width: 100%; /* Take up the full width on smaller screens */
        margin-left: 0; /* Remove left margin */
        margin-top: 0; /* Remove top margin */
    }
}

.flag-icon {
    width: 30px; /* Adjust the width of the flag icon */
    height: auto; /* Adjust the height of the flag icon */
    margin-right: 10px; /* Add margin to the right of the flag icon */
    display: inline-block !important; 
}

/* Squad analysis container */
#squad-analysys-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Adjust the margin-top value as needed */
}

/* Standout stats container */
#standout-stats {
    flex: 1;
    background-color: #f2f2f2; /* Grey background */
    padding: 20px;
    border-radius: 5px;
    margin-right: 10px; /* Adjust the margin as needed */
}

/* Replacement player container */
#replacement-player-container {
    flex: 1;
    background-color: #f2f2f2; /* Grey background */
    padding: 20px;
    border-radius: 5px;
    margin-left: 10px; /* Adjust the margin as needed */
}

.replace-button {
    background-color: #ff5252; /* Red background */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Adjust padding as needed */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.replace-button:hover {
    background-color: #ff0000; /* Darker red background on hover */
}


.next-button {
    background-color: #6ea2f7; 
    color: #333; /* Dark text color */
    padding: 10px 20px; /* Adjust padding as needed */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    margin: 0 10px; /* Add margin between buttons */
}

.next-button:hover {
    background-color: #4a82fb; 
}

.replace2-button {
    background-color: #41cb3e; 
    color: #fff; /* White text color */
    padding: 10px 20px; /* Adjust padding as needed */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    margin: 0 10px; /* Add margin between buttons */
}

.replace2-button:hover {
    background-color: #57ad22; 
}

.compare-button {
    background-color: #ff8800; 
    color: #fff; /* White text color */
    padding: 10px 20px; /* Adjust padding as needed */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    margin: 0 10px; /* Add margin between buttons */
}

.compare-button:hover {
    background-color: #ff6a00; 
}


.home-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(100px, auto)); /* Updated */
    gap: 20px;
}

.home-section {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
}

.home-section img {
    max-width: 100%;
    max-height: 100%;
}

.radar-chart-container {
    position: relative;
    background-color: #f2f2f2;
    border: 1px solid #000000; /* Add border with proper syntax */
    width: 600px; /* Adjust width as needed */
    height: 600px; /* Adjust height as needed */
    padding: 20px; /* Add padding for better appearance */
    margin: 20px auto; /* Center the container */    
}

.close-button {
    position: absolute; 
    top: 10px;
    right: 10px;
    background-color: #000000;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.close-button:hover {
    background-color: #6a6a6a;
}

.remove-button {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    z-index: 1; /* Ensure it appears above other elements */
}

/* Add a hover effect for the remove button */
.remove-button:hover {
    background-color: darkred;
}

.squads-container {
    display: grid;
    justify-content:  space-between;
}

.squad {
    padding: 10px;
    box-sizing: border-box;
    flex: 1;
}

.player-columns {
    display: grid;
    grid-template-columns: repeat(4, 10fr); /* Four equal columns */
    gap: 10px;
    justify-content: center;
}

.player-column {
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
}


.smartScore-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for the transfer budget input box */
#transfer-budget {
    width: 80px; /* Adjust the width as needed */
    padding: 8px; /* Add padding for better spacing */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 4px; /* Add border radius for rounded corners */
    font-size: 16px; /* Set font size */
}

/* Style for the label next to the input box */
label[for="transfer-budget"] {
    margin-right: 8px; /* Add margin to separate the label from the input box */
    font-size: 16px; /* Set font size */
}



/* Style for the select dropdowns */
select {
    width: 200px; /* Set width of select dropdown */
    padding: 8px; /* Add padding for better spacing */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 4px; /* Add border radius for rounded corners */
    font-size: 16px; /* Set font size */
}

/* Style for the form */
form {
    margin-bottom: 20px; /* Add margin at the bottom for spacing */
}


.bubble-container-smartscore {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px; /* Set width of the bubble container */
    height: 90px; /* Set height of the bubble container */
    border-radius: 50%; /* Make it round */
    background-color: black; /* Black background color */
    color: black; /* White text color */
    font-size: 24px; /* Font size */
    font-weight: bold; /* Bold text */
    margin-bottom: 20px; /* Add margin at the bottom for spacing */
    margin-top: 20px; /* Add margin at the top for spacing */
}

.bubble-smartscore {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 24px;
    font-weight: bold;
    /* Set the background color based on smartscore */
    background-color: rgba(255, 0, 0, 1); /* Default to red */
}


/* Hover effect for the bubble */
.bubble-container-smartscore:hover {
    background-color: darkslategrey; /* Darker blue background on hover */
}

.recommendation-section {
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.recommendations-container {
    display: inline-block;
    width: 30%; /* Adjust width according to your layout */
    margin-right: 2%; /* Adjust margin between recommendation containers */
    vertical-align: top;
}

/* CSS for loading spinner animation */
@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.spinner-container {
    position: relative; /* Make the container position relative */
    width: 100%; /* Adjust width as needed */
    height: 100%; /* Adjust height as needed */
    display: flex; /* Use flexbox to center the spinner */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}   

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #333;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spinner 0.8s linear infinite;
}

.show {
    display: block !important;
}

.cat-sub-menu {
    display: none;
}

.cat-sub-menu.show {
    display: block;
}


.filter-section-recommendations {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; /* Align items to the start of the container */
}

.recommendation-container {
    flex: 0 0 50%; /* Set the width of the container to 50% */
    margin-bottom: 10px; /* Add space below each container */
}

.section-title {
    margin-bottom: 5px; /* Add space below section titles */
}

.filter-select {
    margin-bottom: 5px; /* Add space below select elements */
    width: 100%; /* Make select elements fill the entire width of the container */
}

#recommend {
    flex: 0 0 100%; /* Set the width of the button to 100% */
    margin-top: 10px; /* Add space above the button */
}

.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.about-heading {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.about-content {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.about-feature-list {
    list-style-type: none;
    padding-left: 0;
}

.about-feature-list li {
    margin-bottom: 10px;
}

.about-feature-list li::before {
    content: "\2022"; /* Bullet point */
    color: #007bff; /* Blue color */
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.about-feature-list li {
    margin-left: 1em;
}

/* Links */
.about-content a {
    color: #007bff;
    text-decoration: none;
}

.about-content a:hover {
    text-decoration: underline;
}



/* Style for the user settings section */
.user-settings {
    margin-bottom: 20px;
}

/* Style for the password change section */
.password-change {
    margin-top: 20px;
}

/* Style for form inputs and buttons */
form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

h1, h2 {
    color: #333;
}