{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
    <div class="about-container">

        <h1 class="about-heading">About PlayerProVision</h1>
        <p class="about-content">Welcome to PlayerProVision, your ultimate destination for football analysis and team management tools. Our platform is designed to revolutionize the way football enthusiasts and team managers interact with player data and manage their squads.</p>

        <h2 class="about-heading">Our Vision</h2>
        <p class="about-content">At PlayerProVision, we envision a future where every football enthusiast has access to comprehensive player statistics and expert recommendations to make informed decisions in team management and player recruitment.</p>

        <h2 class="about-heading">Our Mission</h2>
        <p class="about-content">Our mission is to provide a user-friendly platform that offers advanced player statistics, trait-based player search, transfer value estimation, recommended signings, and a powerful squad builder tool to empower football enthusiasts and team managers worldwide.</p>

        <h2 class="about-heading">Our Team</h2>
        <p class="about-content">PlayerProVision was founded by Iván and Pablo, two passionate football fans with a combined experience in software development and football analysis. Our team is dedicated to delivering cutting-edge solutions that cater to the needs of football enthusiasts and team managers alike.</p>

        <h2 class="about-heading">Core Features</h2>
        <p class="about-content">PlayerProVision offers the following core features:</p>
        <ul class="about-feature-list">
            <li>Advanced Statistics: Dive deep into player statistics to understand their strengths and weaknesses.</li>
            <li>Trait-based Player Search: Filter millions of players based on specific traits and characteristics.</li>
            <li>Transfer Value Estimation: Get an estimated transfer fee for players based on various factors.</li>
            <li>Recommended Signings: Receive expert recommendations for potential signings with SmartScore ratings.</li>
            <li>Squad Builder Tool: Analyze and improve your team squad with insightful feedback and suggestions.</li>
            <li>FutureScope Setting: Customize your squad building experience with short and long-term expectations.</li>
        </ul>

        <h2 class="about-heading">Contact Us</h2>
        <p class="about-content">Have questions or feedback? We'd love to hear from you! Contact us at contact@playerprovision.com</p>

    </div>
{% endblock %}
