{% extends "base.html" %}
{% load static %}
{% block title %}Advanced Player Search{% endblock %}
{% block content %}
<div class="container">
    <h1>Advanced Player Search</h1>
    
    <!-- Football field image with dots -->
    <div class="football-field-container">
        <img src="{% static 'smartscore/images/field.jpg' %}" alt="Football Field" id="football-field">
        <div id="player-dots"></div>
    </div>
    
    <!-- Other filters for player qualities -->
    <div class="player-qualities">
        <h2>Select Player Positions:</h2>
        <input type="checkbox" name="position" value="GK"> Goalkeeper<br>
        <input type="checkbox" name="position" value="DC"> Defender - Center<br>
        <input type="checkbox" name="position" value="DL"> Defender - Left<br>
        <input type="checkbox" name="position" value="DR"> Defender - Right<br>
        <!-- Add more position checkboxes as needed -->
    </div>
    
    <!-- Search button -->
    <button id="search-btn">Search</button>
    
    <!-- Display search results here -->
    <div id="search-results">
        <!-- Results will be dynamically added here -->
    </div>
</div>

<!-- JavaScript for handling interactions -->
<script src="{% static 'js_content/advanced_search.js' %}"></script>
{% endblock %}
