<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Smart Score{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'smartscore/style.css' %}">
</head>
<body>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li> 
            {% endfor %}
        </ul>
    {% endif %}
    <header>
        <h1>Encabezado común</h1>
        
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
        </ul>
        {% if user.is_authenticated %}
            <li class = "nav-item">
                <a class = "nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        {% else %}
            <li class = "nav-item">
                <a class = "nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class = "nav-item">
                <a class = "nav-link" href="{% url 'signup' %}">Signup</a>
            </li>
    {% endif %} 
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        
        <p>Pie de página común &copy; {% now "Y" %}</p>
    </footer>
</body>
</html>
