<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Smart Score{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'smartscore/style.css' %}">
    <link rel="icon" href="{% static 'smartscore/images/icono.png' %}">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Include jQuery first -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Then include Bootstrap's JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    

</head>
<body>
    
    <div class="sidebar"> <!-- Barra lateral. Modifica según veas -->

        <div class="sidebar-start">

            <div class="sidebar-head">
                <a href="/" class="logo-wrapper" title="Home">
                    <img src="{% static 'smartscore/images/icono.png' %}" alt="Icon">
                    <div class="logo-text">
                        <span class="logo-title">PlayerProVision</span>
                        <br>
                        <span class="logo-subtitle">Iván & Pablo</span>
                    </div>
                </a>
            </div>

            <div class="sidebar-body">

                <div class="sidebar-body-menu">
                   
                    <a class="active" href="{% url 'home' %}">
                        <i class="bi bi-house-fill"></i>Home
                    </a>
                
                    <a class="show-cat-btn" href="##">
                        <i class="bi bi-grid-1x2-fill"></i>Tools
                        <i id="openListIcon" class="bi bi-caret-down"></i>
                        
                    </a>
                    <ul class="cat-sub-menu">
                        
                        <a href="{% url 'advanced_search' %}"><i class="bi bi-search"></i>Advanced Search</a>
                        <a href="{% url 'squad_builder' %}"><i class="bi bi-tools" aria-hidden="true"></i>Squad Builder</a>
                        
                    </ul>

                    <a class="show-cat-btn" href="##">
                        <i class="bi bi-bookshelf"></i>Library
                        <i id="openListIcon" class="bi bi-caret-down"></i>
                    </a>

                    <ul class="cat-sub-menu">
                        <a href="{% url 'my_squads' %}"><i class="bi bi-people-fill"></i>My Squads</a>
                    </ul>
                
                    <a href="{% url 'about' %}"><i class="bi bi-info-circle-fill"></i></span>About</a>
                
                    <a href="##"><i class="bi bi-gear-fill"></i></span>Settings</a>
                
                </div>
            </div>
        </div>
        
    </div>

    <div class="top-bar">   
        <div class="search-wrapper">
            <form action="{% url 'search_player' %}" method="POST">
                {% csrf_token %} <!--security -->
                <input type="text" name="q" value="{{q}}" placeholder="Search for players">
                <input type="submit" value="Search" class="primary-search-btn">
            </form>
        </div>

        <div class="log-in-wrapper">  
            {% if user.is_authenticated %}
                <a class = "primary-default-btn" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class = "primary-default-btn" href="{% url 'login' %}">Login</a>
                <a class = "primary-default-btn" href="{% url 'signup' %}">Signup</a>
            {% endif %}     
        </div>
    
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <div class="content">
        <div class="white-window">
            {% if messages %}
            <div class="container mt-4">
                {% for message in messages %}
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
            {% endif %}

            {% block content %}{% endblock %}
        </div>
    </div>
    
    <!-- Footer 
    <footer>       
        <p>Pie de página común &copy; {% now "Y" %}</p>
    </footer>
   -->  
   <script src="{% static 'js_content/utils.js' %}"></script>

   
   
</body>
</html>
