{% extends "base.html" %}
{% load static %}
{% block title %}FutureScope{% endblock %}
{% block content %}
<h1>Future Scope</h1>
<div class="smartScore-container">
    <form id="future-scope-form" method="post">
        {% csrf_token %}
        <label for="transfer-budget">Transfer Budget:</label>
        <input type="number" id="transfer-budget" name="transfer-budget" maxlength="4">
        <label>M€</label><br><br>
        
        <select id="country-select">
            <option value="" selected disabled>Select Country</option>
            {% for country in countries %}
                <option value="{{ country }}">{{ country }}</option>
            {% endfor %}
        </select><br><br>
        
        <select id="league-select" disabled>
            <option value="" selected disabled>Select League</option>
            {% for league in leagues %}
                <option value="{{ league.name }}" data-country="{{ league.country_league }}">{{ league.name }}</option>
            {% endfor %}
        </select><br><br>
        
        <select id="expectations" name="expectations">
            <option value="">Select Expectations</option>
            <option value="short-term">Short Term Success</option>
            <option value="long-term">Long Term Success</option>
            <option value="balanced">Balanced Approach</option>
        </select><br><br>
        
        <input type="submit" class="primary-default-btn" value="Save">
    </form>
</div>
 
<script src="{% static 'js_content/futureScope.js' %}"></script>

{% endblock %}
