{% extends "base.html" %}
{% load static %}
{% block title %}FutureScope{% endblock %}
{% block content %}
<form method="post">
  {% csrf_token %}
  <label for="transfer-budget">Transfer Budget:</label>
  <input type="number" id="transfer-budget" name="transfer_budget" required><br><br>

  <label for="league">Select League:</label>
  <select id="league" name="league">
    <option value="" selected disabled>Select League</option>
    {% for country, leagues in league_data.items %}
      <optgroup label="{{ country }}">
        {% for league in leagues %}
          <option value="{{ league.id }}">{{ league.name }}</option>
        {% endfor %}
      </optgroup>
    {% endfor %}
  </select><br><br>

  <label for="expectations">Expectations:</label>
  <select id="expectations" name="expectations">
    <option value="short_term">Short Term Success</option>
    <option value="long_term">Long Term Success</option>
    <option value="balanced">Balanced</option>
  </select><br><br>

  <input type="submit" value="Save">
</form>
{% endblock %}
