{% extends "base.html" %}
{% load static %} <!-- Necessary to use static folder  --> 
{% block title %}Smart Score{% endblock %}
{% block content %}

    <div class="home-container">
        <div class="home-section">
            <h1>Welcome to PlayerProVision</h1>
            <h4>PlayerProVision is an innovative platform for analyzing and managing football teams.</h4><br>
            <p>Our platform provides a wide range of tools to help you analyze your team's performance, manage your squad, and improve your clubs's overall performance.</p>
        </div>

        <div class="home-section">
            <img src="{% static 'smartscore/images/football-coach.jpg' %}" alt="Football Image">
        </div>

        <div class="home-section">
            <img src="{% static 'smartscore/images/sample.png' %}" height ="200px" alt="Football Field Image">
        </div>

        <div class="home-section">
            {% if user.is_authenticated %}
                <h2>Get Started</h2>
                <p>Start analyzing and managing your football team!</p>
                <a href="{% url 'my_squads' %}">My Teams</a>
            {% else %}
                <p>Sign up or log in for the full experience!</p>
                <a href="{% url 'signup' %}">Sign Up</a> | <a href="{% url 'login' %}">Log In</a>
            {% endif %}
        </div>
    </div>

{% endblock %}
