{% extends "base.html" %}
{% load static %}
{% block title %}My Squads{% endblock %}
{% block content %}
    <div class="squads-container">
        <h1>My Squads</h1>
        <!-- Create New Squad Button -->
        <form action="{% url 'create_squad' %}" method="get">
            {% csrf_token %}
            <button class="squad-create-button" type="submit">Create New Squad</button>
        </form>
        <!-- Iterate over each squad -->
        {% for squad, players_by_position in players_by_position_per_squad.items %}
            <div class="squad">
                <h2>{{ squad.name }}</h2>
                <div class="player-columns">
                    <!-- Goalkeepers -->
                    <div class="player-column">
                        <h3>Goalkeepers</h3>
                        <ul class="player-list">
                            {% for player in players_by_position.goalkeepers %}
                                <a>{{ player.Name }}</a>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- Defenders -->
                    <div class="player-column">
                        <h3>Defenders</h3>
                        <ul class="player-list">
                            {% for player in players_by_position.defenders %}
                                <a>{{ player.Name }}</a>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- Midfielders -->
                    <div class="player-column">
                        <h3>Midfielders</h3>
                        <ul class="player-list">
                            {% for player in players_by_position.midfielders %}
                                <a>{{ player.Name }}</a>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- Attackers -->
                    <div class="player-column">
                        <h3>Attackers</h3>
                        <ul class="player-list">
                            {% for player in players_by_position.attackers %}
                                <a>{{ player.Name }}</a>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="squad-actions">
                        <form action="{% url 'edit_squad' squad.id %}" method="get">
                            {% csrf_token %}
                            <button class ="squad-create-button" type="submit">Edit</button>
                        </form>
                        <form action="{% url 'delete_squad' squad.id %}" method="post" onsubmit="return confirm('Are you sure you want to delete this squad?');">
                            {% csrf_token %}
                            <button class ="squad-create-button" type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
