{% extends "base.html" %}
{% load static %}
{% block title %}Player Detail{% endblock %}
{% block content %}
<div class="main-nav">
    <div class="main-nav-header">
        <h1>Player Detail</h1>
    </div>
    <div class="main-nav-body">
        <br>
        <h2>{{ player.Name }}</h2>
        <br>
        <h3>Position: {{ player.Pos }}</h3><br>
        <h3>Sueldo: {{ player.Salary }} $</h3>

        <!-- Field image container -->
        <div class="Football-field-container">
            <img src="{% static 'smartscore/images/field.jpg' %}" alt="Football Field">
            <!-- Player position dots -->
            {% for dot_position in dot_positions %}
                <div class="player-position-dot" style="left: {{ dot_position.left }}px; top: {{ dot_position.top }}px;"></div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}
