{% extends "base.html" %}
{% load static %}
{% block title %}{{ player.Name }}{% endblock %}
{% block content %}
<div class="main-nav">
    <div class="main-nav-header">
        <h1>{{ player.Name }}</h1>
    </div>
    <div class="main-nav-body">
        <br>
        <h3>Current team: {{ player.Club }}</h3><br>
        <h3>League: {{ player.League }}</h3><br>
        {% for position in player.Pos.all %}
            <h3>Position: {{ position }}</h3><br>
        {% endfor %}
       
        <h3>Sueldo: {{ player.Salary }} $</h3>

        <!-- Field image container -->
        <div class="Football-field-container">
            <img src="{% static 'smartscore/images/field.jpg' %}" alt="Football Field">
            <!-- Player position dots -->
            {% for dot_position in dot_positions %}
                <div class="player-position-dot" style="left: {{ dot_position.left }}px; top: {{ dot_position.top }}px;"></div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}
