{% extends "base.html" %}
{% load static %}
{% block title %}Recomended signings{% endblock %}
{% block content %}

<div class="search-container">
    <div class="filter-section">
        <h2 class="section-title">Select profile:</h2>
        <select id="profile" class="filter-select">
            <option value="all">All</option>
            <option value="attacker">Attacker</option>
            <option value="midfielder">Midfielder</option>
            <option value="defender">Defender</option>
            <option value="goalkeeper">Goalkeeper</option>
        </select>
        <h2 class="section-title">Select archetype:</h2>
        <select id="archetype" class="filter-select">
            <!-- dynamically populated -->
        </select>
        <h2 class="section-title">Feet preference:</h2>
        <select id="foot" class="filter-select">
            <option value="all">Both</option>
            <option value="left">Left</option>
            <option value="right">Right</option>
        </select>
        <button id="recommend" class="filter-button">Generate Recommendations</button>
    </div>
    <div class="recommendation-section">
        <h2 class="section-title">Recommended signings:</h2>
        <div id="recommendation1" class="recommendations-container">
            <!-- dynamically populated -->
        </div>
        <div id="recommendation2" class="recommendations-container">
            <!-- dynamically populated -->
        </div>
        <div id="recommendation3" class="recommendations-container">
            <!-- dynamically populated -->
        </div>
        <br>
        <button id="regenerate" class="filter-button">Regenerate</button>
    </div>
{% endblock %}