{% extends "base.html" %}
{% load static %}
{% block title %}Recomended signings{% endblock %}
{% block content %}

    <div class="recommended-container">
        <div class="filter-section-recommendations">
            <div class="recommendation-container">
                <h2 class="section-title-r">Select profile:</h2>
                <select id="profile" class="filter-select">
                    <option value="all">All</option>
                    <option value="forward">Forward</option>
                    <option value="winger">Winger</option>
                    <option value="midfielder">Midfielder</option>
                    <option value="defender">Defender</option>
                    <option value="goalkeeper">Goalkeeper</option>
                </select>
            </div>
            <div class="recommendation-container">
                <h2 class="section-title-r">Select archetype:</h2>
                <select id="archetype" class="filter-select">
                    <!-- dynamically populated -->
                </select>
            </div>
            <div class="recommendation-container">
                <h2 class="section-title-r">Feet preference:</h2>
                <select id="foot" class="filter-select">
                    <option value="">All</option>
                    <option value="Either">Ambidextrous</option>
                    <option value="Left">Left</option>
                    <option value="Right">Right</option>
                </select>
            </div>
            <button id="recommend" class="primary-default-btn">Generate Recommendations</button>
        </div>
    </div>

    <div class="recommendation-section">
        <div class="spinner-container"></div>
        <h2 class="section-title" id="recommend-title">Recommended signings:</h2>
        <div id="recommendation1" class="recommendations-container">
            <!-- dynamically populated -->
        </div>
        <div id="recommendation2" class="recommendations-container">
            <!-- dynamically populated -->
        </div>
        <div id="recommendation3" class="recommendations-container">
            <!-- dynamically populated -->
        </div>
        <br>
    </div>

    <script>
        var shirt_img = "{% static 'smartscore/images/shirt.png' %}";
        var isAuthenticated = {{ user.is_authenticated|yesno:"true,false" }};

    </script>

    <script src="{% static 'js_content/recommended_signings.js' %}"></script>


{% endblock %}