{%extends "base.html"%}
{%block title%}Search{%endblock%}
{%block content%}
    <div class="results-container">
        <h1>You searched: {{searched}}</h1>
        <br>
        <div class="results-grid">
            <div class="column">
                <h3>Player Name</h3>
                <ul class="results-list">
                    {% for player in players %}
                        <li><a href="/player/{{ player.custom_id }}">{{ player.Name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="column">
                <h3>Club</h3>
                <ul class="results-list2">
                    {% for player in players %}
                        <li>{{ player.Club }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="column">
                <h3>League</h3>
                <ul class="results-list2">
                    {% for player in players %}
                        <li>{{ player.League }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    
{%endblock%}
