{% extends "base.html" %}
{% load static %}
{% block title %}Squad Builder{% endblock %}
{% block content %}
    <h1>Squad Builder</h1>
    <br>
    <div class="squad-builder-container">

        <!-- Football field image with player positions -->
        <div class="football-field-container-squad-builder">
            <img src="{% static 'smartscore/images/field.jpg' %}" alt="Football Field" id="football-field">
            <!-- Player positions will be dynamically added here -->
            <div id="player-dots"></div> <!-- Add this div for player dots -->
        </div>

        
        <div class="squad-selection-container">
            <div class="squad-selection">
                <!-- Select dropdown to choose the squad -->
                <label for="squad-select">Select Squad:</label>
                <select id="squad-select" class="squad-select">
                    {% for squad in squads %}
                        <option value="{{ squad.id }}">{{ squad.name }}</option>
                    {% endfor %}
                </select>
                <p id="squad-help-txt">Select a position to add players to the field</p>
                <!-- List to display selected squad's players -->
                <p id="squad-help-txt">Players available:</p>
                <ul id="player-list"></ul>
                <button class ="primary-default-btn" id="add-player-btn">Add player</button>
                <button id="analyze-squad-btn" class="secondary-search-btn">Analyze</button>
            </div>
        </div>
    </div>    

    <h1>Squad Analysis</h1>

    <div id = "squad-analysys-container">
        <div id="standout-stats">
            <!-- Standout statistics will be displayed here -->
        </div>

        <div id="replacement-player-container">
            <!-- Replacement player stats will be displayed here -->
            <!-- Buttons to replace player and get a new replacement player -->
        </div>
    </div>

    <!-- Include the JavaScript file -->
    <script src="{% static 'js_content/squad_builder.js' %}"></script>
{% endblock %}
